In [9]:
import folium
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
df_china = pd.read_csv('data/2017_China_data.csv')
df_china.head(10)

  Province/State  population  latitude  longitude
0      Guangdong   111690000     23.24     113.30
1       Shandong   100060000     36.24     118.24
2          Henan    95590000     33.54     113.30
3        Sichuan    83020000     30.08     102.56
4        Jiangsu    80290000     32.54     119.48
5          Hebei    75200000     39.18     116.42
6          Hunan    68600000     28.06     112.59
7          Anhui    62550000     31.50     117.00
8          Hubei    59020000     31.12     112.18
9       Zhejiang    56570000     29.12     129.30

In [4]:
loc_china = [35,112]

In [8]:
m = folium.Map(location=loc_china,zoom_start=4,title = 'nCo2019 in China')
m.save('tmp_imgs/test.html')